.shipping-page{


  padding: 2rem;
height: 100vh;
@include flex(row,center,center);

>
.back-arrow{
  
  position: absolute;
@include square(2.5rem);
  background-color: rgb(31, 28, 24);
  color: white;
  @include flex;
  position: fixed;
  top: 2rem;
  left: 2rem;
  border-radius: 100%;
@include btn;
  @include baseShadow;

    transition: all 0.3s;
  

  &:hover  {
    translate: -0.25rem;
  
}

top: 2rem;
left: 2rem;}

  main{


    p{font-size: 1.5rem;}
    select, input{
      width: 17rem;
       padding: 12px;
      
    
    
    

   
  }
    button {
    @include btn;
      display: block;
      background: rgb(18, 149, 224);
      color: white;            width: 17rem;
      font-weight: 600;

      padding: 10px 5rem;
      &:hover{
        color: #f7fcff;
        background: rgb(96, 216, 49);
        transition: all 0.5s;
      }
    }
margin: auto;
    @include flex(column,center,center,2rem);
    form{
      @include flex(column, center, center );

    }
  }

}
